.modal-overlay {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 154;
}

.modal-overlay:target {
    display: flex;
}

.modal {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    position: relative;
    top: 50px;
    left: 49.5%;
    transform: translate(-50%, -30%);
    overflow: hidden;
}

.close-modal-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.errores {
    
color: red;
    
text-align: center;
    
background-color: rgba(1,1,1,0.1);
    
border-radius: 0 14px;
    
font-family: 'Josefin Sans';
    
font-weight: 400;
}

/*contenido*/

.form-container {


}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-bottom: 20px;
}

.contenedor h3 {
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 6px;
}
.contenedor a {
    color: silver
}

.input-padre {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;
}
.input-style:focus {
    box-shadow: 0 0 10px rgba(19, 0, 66, 0.5); 
}
.input-padre input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid silver;
}

.boton-login{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #572364;
    background-color: #250180;
    font-family: 'Bebas Neue';
    letter-spacing: 3px;
    color: #fff;
}


.boton-admin {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: blueviolet;
    border-radius: 5px;
}

#loginButton:disabled {
    opacity: 0.3; 
    
}

#loginButton:not(:disabled) p:hover {
    transform: scale(1.5);
    
}


@media (min-width:480px){
    .modal{
        left: 27.5%;
    }
}

@media (min-width:1200px){
    .modal{
        left: 20vh;
    }
}