/*header movil*/
.nav-bar {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 83%;
    transform: translateX(-50%);
    background-color: #231F20;
    color: #fff;
    padding: 10px 7px 2px 7px;
    display: flex;
    justify-content: space-around;
    z-index: 1;
    border-radius: 30px;
    margin-bottom: 10px;
}

.nav-bar a {
    color: #ffffff;
    font-size: 24px;
}

.nav-bar a img {
    width: 100%;
}

.logo-nav {
    display: flex;
    height: 30px;
    width: 70px;
    text-align: top;
}
.logo-nav img{
    position: relative;
    height: 50px;
    left: 10px;
    bottom: 15px;
}



/*------------*/
.home-header {
    display: none;
}

.home-nav-header{
    display: none;
    font-family:'Josefin Sans', sans-serif;
}

.home-header{
    background-color: #231F20;
    box-shadow: 0 -1px 10px rgba(255, 255, 255, 0.527);
    background-size: 100% 2px;
    background-position: bottom;
    width: 100%;
    height: 45px;
    position: sticky;
    top: 0;
    z-index: 100;
    font-family:'Josefin Sans', sans-serif;
}
.home-header-superior {
    display: none;
    justify-content: space-between;
    align-items: center;
}
.loguito img {    
    width: 48px;
}
.loguito:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
  

  .home-header-buscador {
    display: flex;
    position: relative;
    width: 70%;
    justify-content: center;
    left: 50px;
    margin-bottom: 15px;
}

.home-header-buscador input[type="text"] {
    display: block;
    color: rgb(34, 34, 34);
    background: white;
    box-shadow: 0px 0px 7px 0px #250180;
    border-radius: 50px;
    block-size: 20px;
    margin: 0 auto;
    outline: none;
    text-align: center;
    width: 299px;
    transition: 0.5s;
    padding: 1px;
}
.home-header-buscador input[type="text"]:hover {
    width: 440px;
  }

.home-header-buscador input[type="text"]:focus {
    width: 280px;
  }  
.fonta {
    align-items: center;
    display: flex;
    width: 250px;
    font-size: 15px;
    margin: 0 10px 15px 0;
}

.fonta .fa-regular {
    color: rgb(199, 199, 199);
    margin: 10px;
}
.fonta .fa-regular:hover{
    color: gray;
}

.fonta .fa-user {
    color: rgb(199, 199, 199);
    margin: 10px;
}

.fonta span {
    color: gray;
    margin: 4px;
    font-weight: 500;
}
.open-modal-button span {
    display: none;
}

.open-modal-button:hover i.fa-user {
    color: rgb(199, 199, 199);
}

.open-modal-button:hover span {
    display: inline;
}

.fonta .fa-cart-shopping {
    color: rgb(199, 199, 199);
    margin: 10px;
}
.fonta .fa-cart-shopping:hover {
    color: gray;
}


/* iconos login*/
.user-avatar {
    display: inline-block;
    overflow: hidden;
    width: 40px;
  }

  
  /* Estilo para el círculo (solo cuando hay una imagen) */
  .user-avatar img {
    
    height: 28px;
    border-radius: 50%;
    
  }
  

/*navegacion*/
.home-nav-header {
    background-color: #231F20;
    padding: 7px 0;
}

.home-nav-header ul {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    flex-wrap: nowrap;
}

.home-nav-header ul li a {
    font-size: 15px;
    color: #ffffff;
    text-wrap: nowrap;
}


.home-nav-header li {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.home-nav-header li a {
    text-decoration: none;
    color: #250180;
}

.home-nav-header li:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(37, 1, 128, 0.5);
}


 @media (min-width: 480px){
    .loguito img {
        width: 41px;
    }

    .nav-bar {

        display: none;
    }

    .home-header-superior {
        display: flex;
    }
    .home-nav-header ul {
        
        justify-content: space-evenly;
        
        text-transform: none;
    }
    .home-nav-header ul li a {
        font-size: 12px;
        color: #ffffff;
        text-wrap: nowrap;
    }
    .home-nav-header li {
        
        margin: 0px 0px;
    }

    .home-header {
        display: grid;
        
    }
    
    .home-nav-header{
        display: grid;
    }

    .home-header-logo{
       
        width: 100%;
    }
    
    .loguito{
       
        width: 7%;
    }

    .fonta a {
        /* margin-right: 2px; */
    }

    .user-avatar {
        
        width: 50px;
      }

    .open-modal-button-login{
        display: flex;
        align-items: center;
        gap: 5px;
    }
 }

 

 @media (min-width: 1200px){

    .home-header-superior {

display: flex;

justify-content: space-between;

align-items: center;
}


    .home-nav-header ul li a {
        font-size: 15px;
        color: white;
        text-transform: uppercase;
        margin: 7px 0 0 0;
    }
    
    .loguito img {
        width: 55px;
        margin-left: 8px;
    }

    .fonta a {
        margin: 0 14px;
    }
 }