

.filtrado-search {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 20px;
}


.dentro-search {
    margin: 4%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    

}

.padre-articulos3 {
    margin: 4%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    

}

.home-main-articulos3 {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
    overflow: hidden;
    

}

.home-main-articulos-a3 {
    width: 100%;
    padding-bottom: 40px;
}


.carro-item3 {
    background-color: #09072c;
    border-radius: 50%;
    height: 37px;
    width: 37px;
    display: grid;
    position: absolute;
    top: 10px;
    right: 10px;
}

.carritoto3 {
    color: #ffffff;
    padding-top: 8px;
    
}


.mensaje-carrito3 {
    position: absolute;
    top: 12px;
    right: 40px;
    background-color: #09072c;
    padding: 7px 1px;
    border-radius: 25px;
    display: none;
    color: #ffffff;
    width: 70%;
    text-align: center;
}


.carro-item3:hover + .mensaje-carrito3, .mensaje-carrito3:hover {
    display: block;
}


.home-main-articulos3:hover {
    box-shadow:
    0 0 2px 2px #bebebe,
    0 0 20px 10px rgba(0, 0, 0, 0.1);

} 



.home-main-articulos3 img {
    width: 60%;
    height: 200px;
    object-fit: contain;
    transition: all 0.5s ease;
   /*  margin-bottom: 7px; */
}

.home-main-articulos3:hover img {
    width: 70%;
    transition: all 0.5s ease;
   
} 

.envio3 {
    background-color: rgb(0, 207, 97);
    position: absolute;
    width: 70%;
    padding: 3px 1px;
    top : 180px;
    left: 5px;
    border-radius: 1px;
}

.envio-p3 {
    font-size: 15px;
    color: white;
    font-family: "Roboto", sans-serif;;
}

.home-main-articulos-p3 {
    color: black;
    text-transform: uppercase;
    height: 50px;
    font-size: 15px;
    margin-bottom: 17px;
    margin-top: 10px;
    padding: 15px;

}

.home-main-articulos3 span {
    margin-bottom: 40px;
    font-weight: bolder;
    color: #09072c;
    font-size: 35px;
    font-family: "Roboto", sans-serif;
}

.mensaje-comprar3 {
    display: inline;
    opacity: 0;
    position: absolute;
    font-size: 15px;
    width: 90%;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #bebebe;
    color: black;
    padding: 8px 12px;
    transition: bottom 0s ease;

}
  
.home-main-articulos3:hover .mensaje-comprar3 {    
    opacity: 1;
    bottom: 0;
    border: 3px solid #bebebe;
    transform: translateX(-50%) translateY(0%);
}



@media (min-width:750px){

.filtrado-search {
    display: grid;
    grid-template-columns: 20% auto;
    margin: 0 20px;
}

}



@media (min-width:1200px){

.filtrado-search {
    display: grid;
    grid-template-columns: 15% auto; /* Primera columna ocupa 25%, segunda columna ocupa el espacio restante */
    margin: 0 60px;
}

.dentro-search {
    margin: 4%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 7px;
    

} 

.mensaje-comprar3 {
    transition: bottom 0.4s ease;

}

}