/* Estilo para el menú principal */
.home-nav-header ul {
    list-style: none;
    padding: 0;
}

/* Estilo para el elemento del menú principal */
.dropdown {
    position: relative;
}

/* Estilo para el menú desplegable */
.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw; /* Ancho de todo el viewport */
    height: 70px;
    background-color: #231F20;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
}

/* Mostrar el menú desplegable al hacer clic en el elemento principal */
.dropdown:hover .submenu {
    display: flex;
}
