<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0a4608b12c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>login</title>
</head>
<body>
    <header class="home-header">
        <div class="home-header-superior">
            <div class="loguito">
            <a href="/">
            <img src="/img/logo1.png" alt="logo" width="" class="home-header-logo">
            </a>

            </div>
            
                <form action="/buscar" method="get" class="home-header-buscador">
                    <input type="text" name="q" placeholder="Buscar...">
                    <a href=""></a>
                </form>
            
        <div class="fonta">
            <a href="login"><i class="fa-solid fa-user"></i>
            <span>Login</span>
            </a>

            <a href="#"><i class="fa-regular fa-bell fa-lg"></i></a>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </div>
    <a href=""></a>
    
    </header>
    <main>
        <div class="form-container">
            <div class="img-container"><img src="/img/logonav.png" alt=""></div>
            <h2>Login</h2>
            <hr>
            <form action="post" method="">
                <div class="form">
                    <div class="input-container">
                        <input class="input-style" type="email" name="email" placeholder="Ingrese su email">
                        <span class="error-message">Debe ingresar su email</span>
                    </div>
                    <div class="input-container">
                        <input class="input-style" type="password" name="pass" placeholder="Ingrese su contraseña">
                        <span class="error-message">Debe ingresar su contraseña</span>
                    </div>
                    <div class="check">
                        <input type="checkbox" neme="recordar" id="recordar">
                        <label form="recordar">Recordarme</label>
                    </div>
                    <div class="button-container">
                        <span class="error-message">Credenciales invalidas</span>
                        <button type="submit" class="btn btn-submit">Ingresar</button>
                    </div>
                    <span><a href="/register">Aun no tengo cuenta</a></span>
                </div>
            </form>      
        </div>    
    </main>
    
    <footer>

    </footer>  
</body>