<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0a4608b12c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Registro</title>
</head>
<body>
    <header class="home-header">
        <div class="home-header-superior">
            <div class="loguito">
            <a href="/">
            <img src="/img/logo1.png" alt="logo" width="" class="home-header-logo">
            </a>

            </div>
            
                <form action="/buscar" method="get" class="home-header-buscador">
                    <input type="text" name="q" placeholder="Buscar...">
                    <a href=""></a>
                </form>
            
        <div class="fonta">
            <a href="/login"><i class="fa-solid fa-user"></i>
            <span>Login</span>
            </a>

            <a href="#"><i class="fa-regular fa-bell fa-lg"></i></a>
            <a href="/shoppingCart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        </div>

    </header>
    <main>

        <div class="form-container">
            <div class="img-container"><img src="/img/logonav.png" alt=""></div>
            <h2>Registro</h2>
            <hr>
            <form action="post" method="">
                <div class="form">
                    <div class="input-container">
                        <input class="input-style" type="email" name="email" placeholder="Ingrese su email">
                        <span class="error-message">Dede ingresar su email</span>
                    </div>
                    <div class="input-container">
                        <input class="input-style" type="password" name="pass" placeholder="Ingrese su contraseña">
                        <span class="error-message">Dede ingresar su contraseña</span>
                    </div>
                    <div class="input-container">
                        <input class="input-style" type="password" name="pass2" placeholder="Re-ingrese su contraseña">
                        <span class="error-message">Debe re-ingresar su contraseña</span>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="terms" id="recordar">
                        <label for="recordar">Acepto los <a href="">terminos y condiciones </a> </label>
                        <span class="error-message">Debe aceptar los terminos y condiciones</span>
                    </div>
                    <div class="button-container">
                        <span class="error-message">Credenciales invalidas</span>
                        <button type="submit" class="btn btn-submit">Registrarme</button>
                    </div>
                    <span><a href="/login">Ya tengo cuenta</a></span>
                </div>    
            </form>
        </div>
    </main>

        <footer>

    </footer>
    
</body>
</html>