<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
</head>
<body>
    <main>
        <div class="padre-nuestro">
            <div class="contenedor23">
                <div class="articulo">
                    <div class="imagen"><img src="/img/gtx.png" alt=""> 
                    <p>Placa de video</p>
                    </div>
                    <div class="agregar">
                        <a href="">-</a>
                        <a href="">1</a>
                        <a href="">+</a>
                    </div>
                    <div class="precio">
                        <p>precio</p>
                        <a href=""><i class="fa-solid fa-trash"></i></a>
                    </div>

                </div>
                <div class="articulo">
                    <div class="imagen"><img src="/img/gtx.png" alt="">
                    <p>placa de video</p>
                    </div>
                    <div class="agregar">
                        <a href="">-</a>
                        <a href="">1</a>
                        <a href="">+</a>
                    </div>

                    <div class="preciosito">
                        <p>precio</p>
                        <a href=""><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>

            </div>
            <div class="resumen-padre">
            <div class="resumen">
                <h2>resumen de pedido</h2>
                <div class="total">
                    <h3>total</h3>
                    <p>$1350</p>
                </div>
            </div>

            <div class="botones">
                <a href=""><i class="fa-solid fa-trash"></i></a>

                <a href="" class="continuar">continuar</a>
            </div>
            </div>

        </div>
</main>    

</body>
</html>