.padre-nuestro {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.contenedor23{
    display: flex;
    width: 87%;
    flex-direction: column;
    margin: 30px 30px 0 30px;



}

.articulo {
    border: 1px solid #4B4B4B;
    margin-bottom: 10px;
    padding: 10px;
}

.imagen {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    overflow: hidden;
    align-items: center;
    text-align: center;
    
}

.imagen img {
    width: 150px;
    align-items: right;
    text-align: left;
    justify-content: space-between;
    
}

.imagen p {
    text-transform: uppercase;
    font-size: 20px;
}


.agregar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}

.agregar a {
    font-size: 30px;
    padding: 5px 10px;
    border: 1px solid #4B4B4B;
    background-color: silver;
    margin: 1px;
}

.precio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.preciosito p{
    font-size: 30px;
}

.preciosito a{
    font-size: 30px;
}

.fa-trash {
    color: #4B4B4B;
}

.resumen h2 {
    text-transform: uppercase;


}
.resumen-padre {
    width: 87%;
    overflow: hidden;
}

.resumen {
    border: 1px solid #4B4B4B;
    width: 94%;
    padding: 10px;
}

.total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.total h3 {
    font-size: 25px;
    text-transform: uppercase;
}

.total p {
    font-size: 25px;
    text-transform: uppercase;
}

.botones {
    display: flex;
    margin: 10px 0 10px;
    
}

.botones a {
    margin: 0 30px 0 30px;
    border: 1px solid #4B4B4B;
    color: white;
    border-radius: 5px;
    

}
.botones .fa-trash {
    background-color: red;
    color: white;
    padding: 10px 30px;
}

.continuar {
    background-color: blue;
    padding: 5px 15px;
}

@media (min-width: 480px){

    .padre-nuestro {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0;
        align-items: start;
    

    }

    .resumen-padre{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .resumen {
        border: 1px solid #4B4B4B;
        width: 84%;
        padding: 10px;
    }

}