<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="slide-content">
                <img src="/img/banner1.jpg" alt="">
                <div class="contenido1">
                    <h3 class="title-ban-h3">FOR GAMERS BY GAMERS</h3>
                    <p class="title-ban-p">Lo último en tecnología para que dejes de manquear</p>
                    <button class="ban-button">CONOCE MÁS</button>
                </div>
                
            </div>
        </div>
        <div class="swiper-slide">
            <div class="slide-content">
                <img src="/img/corsairban.webp" alt="">
                <div class="contenido1">
                    <h3 class="title-ban-h3">FOR GAMERS BY GAMERS</h3>
                    <p class="title-ban-p">Lo último en tecnología para que dejes de manquear</p>
                    <button class="ban-button">CONOCE MÁS</button>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="slide-content">
                <img src="/img/amdban.webp" alt="">
                <div class="contenido1">
                    <h3 class="title-ban-h3">FOR GAMERS BY GAMERS</h3>
                    <p class="title-ban-p">Lo último en tecnología para que dejes de manquear</p>
                    <button class="ban-button">CONOCE MÁS</button>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="slide-content">
                <img src="/img/intelban.webp" alt="">
                <div class="contenido1">
                    <h3 class="title-ban-h3">FOR GAMERS BY GAMERS</h3>
                    <p class="title-ban-p">Lo último en tecnología para que dejes de manquear</p>
                    <button class="ban-button">CONOCE MÁS</button>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="slide-content">
                <img src="/img/razerban.webp" alt="">
                <div class="contenido1">
                    <h3 class="title-ban-h3">FOR GAMERS BY GAMERS</h3>
                    <p class="title-ban-p">Lo último en tecnología para que dejes de manquear</p>
                    <button class="ban-button">CONOCE MÁS</button>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="slide-content">
                <img src="/img/banner2.jpg" alt="">
                <div class="contenido1">
                    <h3 class="title-ban-h3">FOR GAMERS BY GAMERS</h3>
                    <p class="title-ban-p">Lo último en tecnología para que dejes de manquear</p>
                    <button class="ban-button">CONOCE MÁS</button>
                </div>
            </div>
        </div>
        <!-- Agrega más slides aquí -->
    </div>

    <!-- Navegación anterior/siguiente opcional -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>

<!-- Agrega el script de Swiper.js -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script>
    var swiper = new Swiper('.swiper-container', {
        loop: true, // Activa el bucle infinito
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        autoplay: {
            delay: 3000, // Cambia de diapositiva automáticamente cada 5 segundos (ajusta el valor según tus preferencias)
        },
        allowTouchMove: true, // Permite la navegación manual mediante "swipe"
    });
</script>