<footer class="footer">
    <div class="footer-contentOne">
        <div class="footer_img"><img src="/img/logo1.png" alt=""></div>
        <div class="footer-contentOne_divisor">
            <div class="footer-contentOne_divisorDos">
                <div class="footer_boxOne">
                    <div class="footer_boxOne_home"><a href="">Home</a></div>
                    <div class="footer_boxOne_contact"><a href="">Contactanos</a></div>
                    <div class="footer_boxOne_pedidos"><a href="">Mis pedidos</a></div>
                    <div class="footer_boxOne_category"><a href="">Categorias</a></div>
                    <div class="footer_boxOne_promos"><a href="">Promos & Financiacion</a></div>
                </div>
                <div class="footer_boxTwo">
                    <div class="footer_boxTwo_politicas"><a href="">Politicas de seguridad</a></div>
                    <div class="footer_boxTwo_terminos"><a href="">Terminos y condiciones</a></div>
                    <div class="footer_boxTwo_arrepentimineto"><a href="">Boton de Arrepentimiento</a></div>
                    <div class="footer_boxTwo_garantia"><a href="">Garantia</a></div>
                </div>
            </div>
            <div class="footer_boxThree">
                <div class="footer_boxThree_icons">
                    <div class="footer_boxThree_icons_twi"><a href=""><i class="fa-brands fa-twitter"></i></a></div>
                    <div class="footer_boxThree_icons_face"><a href=""><i class="fa-brands fa-facebook"></i></a></div>
                    <div class="footer_boxThree_icons_ig"><a href=""><i class="fa-brands fa-instagram"></i></a></div>
                </div>
                <div class="footer_boxThree_nosotros">
                    <div><p>Tel:(011) 1234-5678</p></div>
                    <div><p>info@fullgamin.com</p></div>
                    <div><p>av nose 372</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-contentTwo">
        <div class="footer-contentTwo_otros">
            <div><a href="">Derechos reservado 2023</a></div>
            <div><a href="">Avisos Legales</a></div>
            <div><a href="">¿Como comprar?</a></div>
            <div><a href="">¿Como cuidamos tu privacidad?</a></div>
        </div>
    </div>
</footer>