<header class="home-header">
    <div class="home-header-superior">
        <div class="loguito">
        <a href="/">
        <img src="/img/logo1.png" alt="logo" width="" class="home-header-logo">
        </a>

        </div>

            <form action="/buscar" method="get" class="home-header-buscador">
                <input type="text" name="q" placeholder="Buscar...">
                <a href=""></a>
            </form>

    <div class="fonta">
        <a href="#modal" class="open-modal-button"><i class="fa-solid fa-user"></i>
        <span>Login</span>
        </a>

        <a href="#"><i class="fa-regular fa-bell fa-lg"></i></a>
        <a href="/shoppingCart"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
    </div>
    <a href=""></a>

</header>
<nav class="home-nav-header">
    <ul>
        <li><a href="">pc armadas</a></li>
        <li><a href="">hardware</a></li>
        <li><a href="">notebook</a></li>
        <li><a href="">placas de video</a></li>
        <li><a href="">monitores</a></li>
        <li><a href="">sillas gamer</a></li>
        <li><a href="">accesorios</a></li>
        <li><a href="">tecnologia</a></li>
        <li><a href="">perifericos</a></li>
        <li><a href="">conectividad</a></li>
        <li><a href="">arma tu pc</a></li>
        <li><a href="">marcas</a></li>
    </ul>
</nav>
