<header class="home-header">
    <div class="home-header-superior">
        <div class="loguito">
        <a href="/">
        <img src="/img/logonav.png" alt="logo" width="" class="home-header-logo">
        </a>

        </div>

            <form action="/search" method="GET" class="home-header-buscador">
                <input type="text" name="keywords" placeholder="Buscar...">
                <a href=""></a>
            </form>

    <div class="fonta">

        <% if (!locals.userLogin) { %>
            <a href="#modal" class="open-modal-button"><i class="fa-solid fa-user"></i>
                <span>Login</span>
                </a>
        <% }else { %>
            <a href="/users/profile/<%= userLogin.id %>" class="open-modal-button-login">
                <div class="user-avatar">
                  <% if (userLogin.image) { %>
                    <img src="img/<%= userLogin.image %>">
                  <% } else { %>
                    <i class="fa-solid fa-user"></i>
                  <% } %>
                </div>
                <span><%= userLogin.name %></span>
              </a>

        <% } %>
        
        <a href="#"><i class="fa-regular fa-bell fa-lg"></i></a>
        <a href="/products/shoppingCart"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
    </div>
    <a href=""></a>

</header>
<nav class="home-nav-header">
    <ul>
        <li><a href="">pc armadas</a></li>
        <li><a href="">hardware</a></li>
        <li><a href="">notebook</a></li>
        <li><a href="">placas de video</a></li>
        <li><a href="">monitores</a></li>
        <li><a href="">sillas gamer</a></li>
        <li><a href="">accesorios</a></li>
        <li><a href="">tecnologia</a></li>
        <li><a href="">perifericos</a></li>
        <li><a href="">conectividad</a></li>
        <li><a href="">arma tu pc</a></li>
        <li><a href="">marcas</a></li>
    </ul>
</nav>
