<nav class="nav-bar">
    <a href=""><i class="fa-solid fa-bars"></i></a>
    <a href="#modal"><i class="fa-regular fa-user"></i></a>
    <div class="logo-nav">
    <a href="/"> <img src="/img/logonav.png" alt=""></a>
    </div>
    <a href=""><i class="fa-regular fa-bell fa-lg"></i></a>
    <a href="/products/shoppingCart"><i class="fa-solid fa-cart-shopping"></i></a>
</nav>