<header class="home-header">
  <div class="home-header-superior">
    <div class="loguito">
      <a href="/">
        <img
          src="/img/logo2.png"
          alt="logo"
          width=""
          class="home-header-logo"
        />
      </a>
    </div>

    <form
      action="/search"
      method="GET"
      class="home-header-buscador"
      onsubmit="return validateForm()"
    >
      <input
        type="text"
        name="keywords"
        id="searchInput"
        placeholder="Buscar..."
      />
    </form>

    <div class="fonta">
      <% if (!locals.userLogin) { %>
      <a href="#modal" class="open-modal-button"
        ><i class="fa-solid fa-user"></i>
        <span>Login</span>
      </a>
      <% }else { %>
      <a
        href="/users/profile/<%= userLogin.id %>"
        class="open-modal-button-login"
      >
        <div class="user-avatar">
          <% if (userLogin.image) { %>
          <img src="/img/<%= userLogin.image %>" />
          <% } else { %>
          <i class="fa-solid fa-user"></i>
          <% } %>
        </div>
        <span><%= userLogin.name %></span>
      </a>

      <% } %>

      <a href="#"><i class="fa-regular fa-bell fa-lg"></i></a>
      <a href="/products/shoppingCart"
        ><i class="fa-solid fa-cart-shopping"></i
      ></a>
    </div>
  </div>
  <a href=""></a>
  <script src="/js/validacionesbusqueda.js"></script>
</header>

<nav class="home-nav-header">
  <ul>
    <li><a href="http://localhost:3000/products/productList/1" id="almacenamiento-cont">Almacenamiento</a></li>
    <li><a href="http://localhost:3000/products/productList/2" id="ram-cont">Ram</a></li>
    <li><a href="http://localhost:3000/products/productList/8" id="notebook-cont">notebook</a></li>
    <li><a href="http://localhost:3000/products/productList/11" id="placa-cont">placas de video</a></li>
    <li><a href="http://localhost:3000/products/productList/6" id="monitores-cont">monitores</a></li>
    <li><a href="http://localhost:3000/products/productList/10" id="perifericos-cont">perifericos</a></li>
    <li><a href="http://localhost:3000/products/productList/7" id="accesorios-cont">accesorios</a></li>
    <li><a href="http://localhost:3000/products/productList/4" id="motherboard-cont">motherboard</a></li>
    <li><a href="http://localhost:3000/products/productList/5" id="cooling-cont">cooling</a></li>
    <li><a href="http://localhost:3000/products/productList/9" id="gabinete-cont">gabinete</a></li>
    <li><a href="http://localhost:3000/products/productList/12" id="fuentes-cont">fuentes</a></li>
    <li><a href="http://localhost:3000/products/productList/3" id="cpu-cont">cpu</a></li>
  </ul>

  <article id="content-container2">
    <!-- El contenido de la categoría se mostrará aquí -->
</article>
   

</nav>
<script src="/js/header-menu.js" ></script>