<div id="modal" class="modal-overlay">
    <div class="modal">  
        <a href="#" class="close-modal-button" id="closeModalLog" ><i class="fa-solid fa-times"></i></a>
        <div class="form-container">
            <form id="form-login" action="/users/login?viewError2=<%= locals?.viewError2 %>" method="POST">
                <div class="contenedor">

                    <div class="img-container"><img src="/img/logo2.png" alt=""></div>
                        <h3>Login</h3>
                    <div class="input-padre">
                        <input class="input-style" type="email, text" name="email2" placeholder="Ingrese su email o usuario">
                        <span class="error-message" style="color: red"> <%= locals?.errorsLogin?.email2?.msg %> </span>
            
                    </div>
                    <div class="input-padre">
                        <input  class="input-style" type="password" name="pass2" placeholder="Ingrese su contraseña">
                        <span class="error-message" style="color: red"> <%= locals?.errorsLogin?.pass2 && locals.errorsLogin.pass2.msg %> </span>
            
                    </div>
            
                    <div class="check">
                        <input type="checkbox" name="remember" id="remember" value="">
                        <label form="recordar">Recordarme</label>
                    </div>
                    <div class="input-padre">
                        <button type="submit" class="boton-login" id="loginButton" disabled>
                            <p>Login</p>
                        </button>
                    </div>
                    <a href="#register">No tengo cuenta</a>
                </div>
            </form>      
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const closeModalButtonLog = document.querySelector("#closeModalLog");
        const email2Input = document.querySelector("#form-login input[name='email2']");
        const pass2Input = document.querySelector("#form-login input[name='pass2']");
        const loginButton = document.querySelector("#loginButton");
        const errorMessages = Array.from(document.querySelectorAll("#form-login .error-message"));

        let typingTimer;
        const doneTypingInterval = 500;

        closeModalButtonLog.addEventListener("click", function () {
            resetLoginValidation();
        });

        // Validación del correo electrónico
        email2Input.addEventListener('input', function () {
            clearTimeout(typingTimer);
            
            typingTimer = setTimeout(function () {
                validateEmail(email2Input, errorMessages[0]);
                checkLoginButtonState();
            }, doneTypingInterval);
        });

        // Validación de la contraseña
        pass2Input.addEventListener('input', function () {
            checkLoginButtonState();
        });

        function resetLoginValidation() {
            email2Input.value = "";
            pass2Input.value = "";
            errorMessages.forEach(function (errorMessage) {
                errorMessage.textContent = '';
            });
            loginButton.disabled = true;
            email2Input.classList.remove('error-input');
        }

        function checkLoginButtonState() {
            if (isValidEmail(email2Input.value) && pass2Input.value.trim() !== '') {
                loginButton.disabled = false;
            } else {
                loginButton.disabled = true;
            }
        }
    });

    function validateEmail(input, errorMessage) {
        const emailValue = input.value;

        if (emailValue.trim() === '') {
            // El campo está vacío, no hay mensaje de error
            input.classList.remove('error-input');
            errorMessage.textContent = '';
        } else if (!isValidEmail(emailValue)) {
            // El correo electrónico no es válido, mostrar mensaje de error
            input.classList.add('error-input');
            errorMessage.textContent = 'Por favor, ingresa un correo electrónico válido.';
        } else {
            // El correo electrónico es válido, no hay mensaje de error
            input.classList.remove('error-input');
            errorMessage.textContent = '';
        }
    }

    function isValidEmail(value) {
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return emailRegex.test(value);
    }
</script>


</div>