<div id="modal" class="modal-overlay">
    <div class="modal">
        <a href="#" class="close-modal-button" ><i class="fa-solid fa-times"></i></a>
        <div class="form-container">
            <form action="post" method="">
                <div class="contenedor">

                    <div class="img-container"><img src="/img/logonav.png" alt=""></div>
                        <h3>Login</h3>
                    <div class="input-padre">
                        <input class="input-style" type="email, text" name="email" placeholder="Ingrese su email o usuario" required>
            
                    </div>
                    <div class="input-padre">
                        <input class="input-style" type="password" name="pass" placeholder="Ingrese su contraseña" required>
            
                    </div>
            
                    <div class="check">
                        <input type="checkbox" neme="recordar" id="recordar">
                        <label form="recordar">Recordarme</label>
                    </div>
                    <div class="input-padre">
                        <button type="submit" class="boton-login">Login</button>
                    </div>
                    <a href="#register">No tengo cuenta</a>
                    <a href="/users/admin" class="boton-admin">Admin</a>
                </div>
            </form>      
        </div>
    </div>
</div>
</div>