<div id="modalcito" class="modal-overlay5">
    <div class="modal5">  
       

            <section class="modal-cel-padre">

                
                <article class="categorias-cel">
                    
                        <div class="categorias-cel-hijo">
                            
                            <a href="#" id="marca-category">
                                <i class="fas fa-tags" width="30px"></i>
                                <li><p>Marcas</p></li>
                            </a>
                            <a href="#" id="categoria-category">
                                <i class="far fa-list-alt"  width="30px"></i>
                                <li><p>Categorias</p></li>
                            </a>
                            <a href="#" id="oferta-category">
                                <i class="fas fa-rocket"  width="30px"></i>
                                <li><p>Ofertas</p></li>
                            </a>
                            <a href="#" id="producto-category">
                                <i class="fas fa-shopping-cart"  width="30px"></i>
                                <li><p>Productos</p></li>
                            </a>
                            <a href="#" class="close-modal-button" id="closeModalLog">
                                <i class="fas fa-times-circle"  width="30px"></i>
                                <li><p>Salir</p></li>
                            </a>

                        </div>     
                            
                            
                            
                            
                           
                        
                    
                </article>
                <article id="content-container">
                    '<h2> categorias</h2>' + 
 '<ul> 
    '<li><a href="/products/productList/1">Almacenamiento</a></li>' + 
    '<li><a href="/products/productList/2">Ram</a></li>' + 
    '<li><a href="/products/productList/3">Cpu</a></li>' + 
    '<li><a href="/products/productList/4">Motherboard</a></li>' + 
    '<li><a href="/products/productList/5">cooling</a></li>' + 
    '<li><a href="/products/productList/6">Monitor</a></li>' + 
    '<li><a href="/products/productList/7">Silla Gamer</a></li>' + 
    '<li><a href="/products/productList/8">Notebook</a></li>' + 
    '<li><a href="/products/productList/9">Gabinete</a></li>' + 
    '<li><a href="/products/productList/10">Perifericos</a></li>' + 
    '<li><a href="/products/productList/11">Placa de Video</a></li>' +
    '<li><a href="/products/productList/12">Fuente</a></li>' ;
</ul>'
                </article>
            </section>
          
            <div class="form-container">
                <form action="/search" method="GET" class="home-header-buscador">
                    <input type="text" name="keywords" placeholder="Buscar...">
                    <a href=""></a>
                </form>
        </div>
    </div>
</div>
<script src="/js/modalcelu.js"> </script>