<div id="modalcito" class="modal-overlay5">
    <div class="modal5">  
        <a href="#" class="close-modal-button" id="closeModalLog" ><i class="fa-solid fa-times"></i></a>
        <div class="form-container">
            <form action="/search" method="GET" class="home-header-buscador">
                <input type="text" name="keywords" placeholder="Buscar...">
                <a href=""></a>
            </form>

            <section class="modal-cel-padre">

                
                <article class="categorias-cel">
                    
                        <div class="categorias-cel-hijo">
                            <a href="">
                                <img src="../../../img/computer_desktop.png" alt="" width="30px">
                            <li><p>pc armadas</p></li>
                            </a>
                            
                            <a href="">
                                <img src="../../../img/motherboard_icon.png" alt="" width="30px">
                            <li><p>hardware</p></li>
                            </a>
                            
                            <a href="">
                                <img src="../../../img/notebook_icon.png" alt="" width="30px">
                            <li><p>notebook</p></li>
                            </a>
                            
                            <a href="">
                                <img src="../../../img/gpu_icon.png" alt="" width="30px">
                            <li><p>placas de video</p></li>
                            </a>
                            
                            <a href="">
                                <img src="../../../img/monitor_icon.png" alt="" width="30px">
                            <li><p>monitores</p></li>
                            </a>

                            <a href="">
                                <img src="../../../img/chair_icon.png" alt="" width="30px">
                            <li><p>sillas gamer</p></li>
                            </a>

                            <a href="">
                                <img src="../../../img/cable_icon.png" alt="" width="30px">
                            <li><p>accesorios</p></li>
                            </a>
                            

                            <a href="">
                                <img src="../../../img/book_icon.png" alt="" width="30px">
                            <li><p>tecnologia</p></li>
                            </a>

                            <a href="">
                                <img src="../../../img/accessories_icon.png" alt="" width="30px">
                            <li><p>perifericos</p></li>
                            </a>
                            
                            <a href="">
                                <img src="../../../img/connection_icon.png" alt="" width="30px">
                            <li><p>conectividad</p></li>
                            </a>

                            <a href="">
                                <img src="../../../img/book_icon.png" alt="" width="30px">
                            <li><p>arma tu pc</p></li>
                            </a>

                            <a href=""> 
                                <img src="../../../img/discount_icon.png" alt="" width="30px">
                                <li><p>marcas</p></li>
                            </a>
                        </div>     
                            
                            
                            
                            
                           
                        
                    
                </article>
                <article>
                    <p>asgasgasdgasd</p>
                </article>
            </section>
        </div>
    </div>
</div>