
<div class="modal fade" id="modalDetalle" tabindex="-1" aria-labelledby="modalDetailLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-contenido">
            <div class="modal-header">
                <h4 class="modal-titulo"
                    id="modalDetailLabel">
                    
                </h4>
                <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4 col-md-4">
                        <img src="/img/"
                            class="img-fluid"
                            alt="">
                    </div>
                    <div class="col-12 col-md-8">
                        <h2>$
                        </h2>
                        <p>
                            
                        </p>
                        <button type="button"class="btn btn-primary"
                            name="" id=""
                            class="btn btn-dark disabled">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>