<div class="profileInit">
    <div class="profileInit_contenedor">
        
        <div class="profileInit_contenedor_image">
            <img src="/img/<%= profile.image %>" class="" alt="...">
        </div>

        <div class="profileInit_contenedor_email">
            <p class=""><%= profile.email %></p>
        </div>
        <div class="profileInit_contenedor_contenedorButton_button">
            <div class="profileInit_contenedor_contenedorButton_button_comprar">
                <a href="" class="">Mis compras</a>
            </div>
            <div class="profileInit_contenedor_contenedorButton_button_configuracion">
                <a href="/users/profile/<%= profile.id %>" class=""></a>
                <p>Configuracion</p>
            </div>
            <a href="/users/logout" class="">
            <div class="profileInit_contenedor_contenedorButton_button_salir">
                
                <p>Salir</p>
            </a>
            </div>
            
            <% if (profile.rolId === 1) { %>
                <a href="/users/admin" class="">
                <div class="profileInit_contenedor_contenedorButton_button_salir">
                <p>Admin</p>
                </div>
            </a>
            <% }else { %> 
                <p></p> 
            <% } %>
        </div>
        
    </div>
</div>
