<div id="register" class="modal-overlay">
    <div class="modal">
        <a href="#" class="close-modal-button"><i class="fa-solid fa-times"></i></a>
        <div class="form-container">
            <form action="post" method="">
                <div class="contenedor">

                    <div class="img-container"><img src="/img/logonav.png" alt=""></div>
                        <h3>registro</h3>

                        <div class="input-padre">
                            <input class="input-style" type="text" name="email" placeholder="crea usuario" required>
                
                        </div>

                    <div class="input-padre">
                        <input class="input-style" type="email" name="email" placeholder="Ingrese su email" required>
            
                    </div>
                    <div class="input-padre">
                        <input class="input-style" type="password" name="pass" placeholder="Ingrese su contraseña" required>
            
                    </div>

                    <div class="input-padre">
                        <input class="input-style" type="password" name="pass" placeholder="Repita su contrasena" required>
            
                    </div>
            
                
                    <div class="input-padre">
                        <button type="submit" class="boton-login">Registrate</button>
                    </div>
                </div>
            </form>      
        </div>
    </div>
</div>
</div>